.hero {
    padding: 80px 0;
    position: relative;
    height: 80vh;
    .wrapper {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}
.hero_content {
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
