.section h2 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h2);
    margin: 0px;
    padding: 80px 0 100px 0;
}
.section__swiper {
    background-color: var(--color-primary);
    color: var(--color-black);
    h2 {
        margin: 0px;
        padding: 80px 0 100px 0;
    }
    .card__content {
        .button a {
            background-color: var(--color-white);
            &:hover {
            }
        }
    }
}
