.swiper-pagination{
    position: static;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    .swiper-pagination-bullet{
        border-radius: 0%;
        rotate: 45deg;
        height: 20px;
        width: 20px;
        background-color: var(--color-black);
        margin: 0;

    }
    .swiper-pagination-bullet-active{
        background-color: var(--color-white);
    }
}