{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercises</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>Mes premiers laboratoires</h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Lab01.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Révisions des outils CSS Grid et flexbox composé de trois exercises qui aident à comprendre quand utiliser flexbox ou grid.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Lab01.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Révisions des outils CSS Grid et flexbox composé de trois exercises qui aident à comprendre quand utiliser flexbox ou grid.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
