{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercises
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>Mes premiers laboratoires</h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Lab01.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Révisions des outils CSS Grid et flexbox composé de trois exercises qui aident à comprendre quand utiliser flexbox ou grid.</p>
                    <p class="tag">HTML + CSS</p>
                    <div class="button">
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Lab02.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>Projet servant a utiliser la conversion du CSS en SCSS, savoir l’installation du npm et l’utilisation de FileZilla.</p>
                    <p class="tag">SCSS</p>
                    <div class="button">
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Lab03.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>Utilisation des grid et flexbox tout en utilisant la hierarchie du scss et faciliter la lecture des classes scss.</p>
                    <p class="tag">HTML + SCSS</p>
                    <div class="button">
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Lab04.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Projet servant a utiliser les icones tim-icons et un debut d’apprentissage du javascripts (query selector, classlist, toggle, innertext,
                        etc.).
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <div class="button">
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section__swiper">
    <div class="wrapper">
        <h2>Mes laboratoires reactifs</h2>
        <div class="swiper js-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Lab07.jpg" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                        <p>
                            Projet servant a utiliser les icones tim-icons et un debut d’apprentissage du javascripts (query selector, classlist, toggle,
                            innertext, etc.).
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <div class="button">
                            <a href="#">Voir le laboratoire</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Lab08.png" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                        <p>
                            Projet servant a utiliser les icones tim-icons et un debut d’apprentissage du javascripts (query selector, classlist, toggle,
                            innertext, etc.).
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <div class="button">
                            <a href="#">Voir le laboratoire</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Lab09.jpg" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                        <p>
                            Projet servant a utiliser les icones tim-icons et un debut d’apprentissage du javascripts (query selector, classlist, toggle,
                            innertext, etc.).
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <div class="button">
                            <a href="#">Voir le laboratoire</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
